.lazyload
 {
    position: absolute;
    width: 50%;
    right: 80px;
    top: 30px;
   
}
.pinpin-pic{
	position: absolute;
    width: 26%;
    right: 100px;
    top: 30px;
}

.brief {
    position: relative;
}

.brief p {
    width: 300px;
}
.brief .pinpin-text{
	width: 500px;
	height: 300px;
}

@media screen and (max-width: 1000px) {
    .brief p {
        width: 80%;
    }
    .lazyload,.pinpin-pic {
        position: initial;
        width: 70%;
        margin-top: 50px;
        margin: 0 auto;
        display: block;
    }

}
@media screen and (max-width: 500px) {
    .brief p,.brief .pinpin-text {
        width: 80%;
    }
    .lazyload,.pinpin-pic {
        position: initial;
        width: 70%;
        margin-top: 50px;
        margin: 0 auto;
        display: block;
    }

}
.left-page {
    float: left;
    font-size: 16px;
    padding: 10px;
    margin-left: -10px;
}

.right-page {
    float: right;
    font-size: 16px;
    padding: 10px;

}
.foot{
	margin-top: 80px;
	border-top : 1px solid #eee;
}
.page i {
    padding-left: 4px;
}
.left-page p{
	display: inline;
    padding-left: 10px;
}
.right-page p{
	display: inline;
    padding-right: 10px;
}

.left-page:hover,.right-page:hover {
    background-color: #f3e8e9;
}